
p {
  color:black;
  text-align:center;
  font-size:50px;
  background-size: auto;
  background-color: transparent;
  }
body {
  background-color:lightpink;
}
#para1 {
  text-align: center;
}
#para2 {
  text-align: center;
}
#para3 {
  color:black;
  text-align:center;
  font-size:20px;
}
#para4 {
  color:black;
  text-align:center;
  font-size:20px;
}
ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  text-align:;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
  align-items: center;
}

{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100px;
}
.cube{
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 15s linear infinite;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100px;

}
@keyframes animate{
to{
  transform: rotateY(360deg);
}
}
.shadow{
   position: absolute;
   background: lightpink;
   width: 2em;
   height: 2em;
  transform:translateZ(-130px)
   rotateX(90deg) rotateZ(3deg);
   bottom: 0em;  left: 4em;
   box-shadow: 0 120px 100px 10px pink ,
               50px 120px 200px 10px pink ;
   filter: blur(100px);
}


.top , .bottom , .left , .right , .front , .back{
  height: 2em;
  width: 2em;
  background: aqua;
  position: absolute;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 50px 10px  lightpink  inset,
          0 0 0 2em white inset ;

}




.front{
  transform: translateZ(1em);
}

.back{
  transform: translateZ(-1em);
}


.top{
  transform: translateY(-1em) rotateX(90deg);
}
.bottom{
  transform: translateY(1em) rotateX(90deg);
}
.right{
  transform: translateX(1em) rotateY(90deg);
}
.left{
  transform: translateX(-1em) rotateY(90deg);
}
